body{

    background: url('/static/img/colorful_food.jpg')repeat 0 0;
    background-size: cover;
}



.search-bar{

   width:800px;
}



body, html {
    height: 100%;
    margin: 0;
}

.table{

    font-size: 30px;
    font-weight: bold;
}